{% extends 'home.html' %}

{% block content %}

<style>
.gradient-custom-3 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
.gradient-custom-4 {

    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

</style>

<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an order</h2>


              <form id="create-order-form">
                {% csrf_token %}
                 <div class="form-outline mb-4">
                  <input type="text" id="name" class="form-control form-control-lg" placeholder="Enter your first name" name="first_name" />
                </div>

                <div style="color:red">
                  <p><small>{{ create_order_form.first_name.errors }}</small></p>
                </div>


                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" placeholder="Enter your email" name="email"/>
                </div>

                <div style="color:red">
                  <p><small>{{ create_order_form.email.errors }}</small></p>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Create</button>
                </div>


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script>

  $("#create-order-form").submit(function (e) {

          e.preventDefault();

          var headers = {'X-CSRFToken': '{{ csrf_token }}' };
          var data = new Object();
          data.first_name = $('#name').val();
          data.email = $('#email').val();
          data.product = {{ pk }}
          console.log(data)

          $.ajax({
              type: 'POST',
              url: 'http://127.0.0.1:8000/api/order',
              headers: headers,
              data: data,
              success: function (response) {
                  $("#create-order-form").trigger('reset');

              },
              error: function (response) {
                  // alert the error if any error occured
                  alert(response["responseJSON"]["error"]);
              }
          });
      });
</script>

{% endblock content %}